### **Content based recommendation system:**
This type of recommendation systems, takes in a movie that a user currently likes as input. Then it analyzes the contents (storyline, genre, cast, director etc.) of the movie to find out other movies which have similar content. Then it ranks similar movies according to their similarity scores and recommends the most relevant movies to the user.

Reference used - https://www.machinelearningplus.com/nlp/cosine-similarity/

In [0]:
import pandas as pd 
import numpy as np 
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

#loading datasets
df1=pd.read_csv('/content/drive/My Drive/ml/tmdb_5000_credits.csv')
df2=pd.read_csv('/content/drive/My Drive/ml/tmdb_5000_movies.csv')

In [143]:
df1.columns = ['id','tittle','cast','crew']
df2= df2.merge(df1,on='id')
df2

         budget  ...                                               crew
0     237000000  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1     300000000  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2     245000000  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3     250000000  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     260000000  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...
...         ...  ...                                                ...
4798     220000  ...  [{"credit_id": "52fe44eec3a36847f80b280b", "de...
4799       9000  ...  [{"credit_id": "52fe487dc3a368484e0fb013", "de...
4800          0  ...  [{"credit_id": "52fe4df3c3a36847f8275ecf", "de...
4801          0  ...  [{"credit_id": "52fe4ad9c3a368484e16a36b", "de...
4802          0  ...  [{"credit_id": "58ce021b9251415a390165d9", "de...

[4803 rows x 23 columns]

In [0]:
# Parse the stringified features into their corresponding python objects
from ast import literal_eval

features = ['cast', 'crew', 'keywords', 'genres']
for feature in features:
    df2[feature] = df2[feature].apply(literal_eval)

In [145]:

df2[features]

                                                   cast  ...                                             genres
0     [{'cast_id': 242, 'character': 'Jake Sully', '...  ...  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
1     [{'cast_id': 4, 'character': 'Captain Jack Spa...  ...  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2     [{'cast_id': 1, 'character': 'James Bond', 'cr...  ...  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
3     [{'cast_id': 2, 'character': 'Bruce Wayne / Ba...  ...  [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
4     [{'cast_id': 5, 'character': 'John Carter', 'c...  ...  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
...                                                 ...  ...                                                ...
4798  [{'cast_id': 1, 'character': 'El Mariachi', 'c...  ...  [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
4799  [{'cast_id': 1, 'character': 'Buzzy', 'credit_...  ...  [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
4800  [{'cast_id': 8, 'character': 'Oliver O’Toole',...  ...  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4801  [{'cast_id': 3, 'character': 'Sam', 'credit_id...  ...                                                 []
4802  [{'cast_id': 3, 'character': 'Herself', 'credi...  ...                [{'id': 99, 'name': 'Documentary'}]

[4803 rows x 4 columns]

In [0]:

# Get the director name from the crew feature. If not present written nan
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

# Returns the list top 3 elements
def get_list(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        #Check if more than 3 elements exist. If yes, return only first three. If no, return entire list.
        if len(names) > 3:
            names = names[:3]
        return names

    #Return empty list in case of missing data
    return []

# Function to convert all strings to lower case and remove spaces
def clean_data(x):
    if isinstance(x, list):
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        #Check if director exists. If not, return empty string
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

def create_soup(x):
    return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + x['director'] + ' ' + ' '.join(x['genres'])


def get_title_from_index(index):
    return df2[df2.index == index]["title"].values[0]
    
def get_index_from_title(title):
    return df2[df2.title == title]["index"].values[0]

In [147]:
# Define new director, cast, genres and keywords features
df2['director'] = df2['crew'].apply(get_director)

features = ['cast', 'keywords', 'genres']
for feature in features:
    df2[feature] = df2[feature].apply(get_list)    
    df2[feature] = df2[feature].fillna('') #filling all NaNs with blank string

# features of the first few films
df2[['title', 'cast', 'director', 'keywords', 'genres']].head()

                                      title  ...                                genres
0                                    Avatar  ...          [Action, Adventure, Fantasy]
1  Pirates of the Caribbean: At World's End  ...          [Adventure, Fantasy, Action]
2                                   Spectre  ...            [Action, Adventure, Crime]
3                     The Dark Knight Rises  ...                [Action, Crime, Drama]
4                               John Carter  ...  [Action, Adventure, Science Fiction]

[5 rows x 5 columns]

In [148]:
# cleaning data
features = ['cast', 'keywords', 'director', 'genres']
for feature in features:
    df2[feature] = df2[feature].apply(clean_data)
    
df2['soup'] = df2.apply(create_soup, axis=1)
df2['soup'][0]

'cultureclash future spacewar samworthington zoesaldana sigourneyweaver jamescameron action adventure fantasy'



#   **Cosine similarity** 




> *is a metric used to measure how similar the documents are irrespective of their size. Mathematically, it measures the cosine of the angle between two vectors projected in a multi-dimensional space.*

> *The cosine similarity is advantageous because even if the two similar documents are far apart by the Euclidean distance (due to the size of the document), chances are they may still be oriented closer together. The smaller the angle, higher the cosine similarity.*

In [0]:
#creating count matrix
count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(df2['soup'])

# Computing the Cosine Similarity matrix based on the count_matrix
cosine_sim2 = cosine_similarity(count_matrix, count_matrix)

# Reset index of our main DataFrame and construct reverse mapping as before
df2 = df2.reset_index()

In [0]:
# Function that takes in movie title as input and outputs 5 most similar movies
def get_recommendations(title, cosine_sim):
    # Get the index of the movie that matches the title
    idx = get_index_from_title(title)

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 5 most similar movies
    sim_scores = sim_scores[1:6]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 5 most similar movies
    print("Top 5 recomendation for '"+ title +"' is - \n")
    return df2['title'].iloc[movie_indices]

In [151]:
movie_name = 'Iron Man 2'
get_recommendations(movie_name, cosine_sim2)

Top 5 recomendation for 'Iron Man 2' is -

7        Avengers: Age of Ultron
31                    Iron Man 3
68                      Iron Man
16                  The Avengers
26    Captain America: Civil War
Name: title, dtype: object

In [152]:
movie_name = 'The Lone Ranger'
get_recommendations(movie_name, cosine_sim2)

Top 5 recomendation for 'The Lone Ranger' is -

1                Pirates of the Caribbean: At World's End
12             Pirates of the Caribbean: Dead Man's Chest
199     Pirates of the Caribbean: The Curse of the Bla...
498                                               Hidalgo
1443                                     American Outlaws
Name: title, dtype: object